/* main css */
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a{
  text-decoration: none !important;
  color: beige !important;
}

h1{
  color: #93c9f1 !important;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  font-size: 80px !important;
}

/* logo */

/* welcome message */



/* The typing effect */


.btn{
  font-size: 30px !important;
  font-weight: 500 !important;
  width: fit-content !important;
  padding: 13px 10px !important;
  color:beige !important;
  background:#2a1eaa !important;
  border:none !important;
}

.btn:hover{
  color: #ffffff !important;
  background-color: #3424e4 !important;
  border: none !important;
}

@media (max-width:600px) {
  *
  {
    font-size: 30px !important;
  }
  .Itag
{
  font-size: 35px !important;
  color: #D41596 !important;
}


.btn{
  font-size: 15px !important;
  font-weight: 500 !important;
  width: 100px !important;
  height: 50px !important;
  padding: 13px 10px !important;
  color: #ffffff !important;
  background-color: #2b1eb5 !important;
  border:none !important;
}
}
/* welcome message */
