

.video-container {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
}

.video-container video {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
    width:  100 !important;
    height: 100% !important;
    z-index: 1;
    display: flex !important;
    flex-direction: row !important;
    position: relative;
    padding: 10px; 
    

}
.writer
{
    width: 50% !important;
    height: 40% !important;
}
.Logo
{
    width: 50% !important;
    height: 40% !important;
}

@media (max-width:600px) {
    .video-container .caption {
        width:  100% !important;
        height: 100% !important;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.363);
        display: flex !important;
        flex-direction: column-reverse !important;
        position: relative;
        text-align: center;
        padding: 10px; 
        
    
    }
    .writer
    {
        width: 100% !important;
        height: 40% !important;
        padding-top: 40px !important;
    }
    .Logo
    {
        width: 100% !important;
        height: 40% !important;
    }
}